*.sw?
spatialAnalysis/.ipynb_checkpoints/
tooBig
m_ReadAbundancesOnly_sampled.rda
m_spatTemp_noTemp_abu_sampled.rds
m_spatTemp_Env_abu_sampled.rds
m_spatTemp_noTemp_PA_sampled.rds
m_spatTemp_ReadAbundancesOnly_sampled.rds
m_spatTemp_Env_PA_sampled.rds

