m_spatTemp_ReadAbundancesOnly_crossValPreds.rds
m_spatTemp_*sampled.rds
*.sw?
spatialAnalysis/.ipynb_checkpoints/
tooBig
m_fullModel_logNorm_sampled.rda
m_ReadAbundancesSpatial_sampled.rda
m_environmentalOnly_sampled.rda
m_ReadAbundancesOnly_sampled.rda
m_*sampled2.rda
